@require './AppHeader'

.AppContainer {
  position: absolute;
  top: $app-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  background-color: $color-white;
}

