@require 'normalize.css/normalize.css'

@require 'shared/utils/styles/*.styl'

@require 'shared/components/icon/styles/*.styl'

@require 'account/**/styles/*.styl'
@require 'application/**/styles/*.styl'

body {
  background-color: $color-black;
}


